extends ../base-layout

block head
  title Product page

block header
  +product-header()

block main
  - const productSlides = [{src: '../../images/mocks/product-page-mock.png', alt: 'iphone image'}, {src: '../../images/mocks/product-page-mock.png', alt: 'iphone image'},{src: '../../images/mocks/product-page-mock.png', alt: 'iphone image'},{src: '../../images/mocks/product-page-mock.png', alt: 'iphone image'},{src: '../../images/mocks/product-page-mock.png', alt: 'iphone image'},{src: '../../images/mocks/product-page-mock.png', alt: 'iphone image'},{src: '../../images/mocks/product-page-mock.png', alt: 'iphone image'}];
  +product-section({header: false}).product-section_product-info
    +product-slider({slides: productSlides})
    +product-info({partNumber: '002900006', title: 'Смартфон Apple Iphone 11 128Gb Yellow Смартфон Apple', rate: {
      rating: 5,
      reviewsAmount: 17,
    }})
  +product-section({header: false}).product-section_product-cost
    +product-cost({price: 357890, monthlyPayment: 13375, months: 36})