mixin reviews-statistic(props)
  - let reviewsAmount = 0;
  - let sumOfRatings = 0;
  - for (let review of props.reviews) reviewsAmount += review.amount
  - for (let review of props.reviews) sumOfRatings += review.value * review.amount
  - let rating = (sumOfRatings / reviewsAmount).toString().slice(0, 3);
  - let statistics = {}
  - for (let review of props.reviews) statistics[review.value] = review.amount
  .reviews-statistic
    .reviews-statistic__reviews
      h6.reviews-statistic__evaluation.m-0 #{rating}
      span.reviews-statistic__reviews-amount.pb-12 #{reviewsAmount} отзывов
      +star-list({size: 'lg', rate: rating})
    .reviews-statistic__statistic
      each value, key in statistics
        - let percent = (Number(value) / Number(reviewsAmount)) * 100;
        - let style = 'width:' + ' ' + percent + '%';
        .reviews-statistic__eval-amount
          span.reviews-statistic__eval-value= key
          .reviews-statistic__eval-visual-box
            .reviews-statistic__eval-visual-bg
            div(style=style).reviews-statistic__eval-visual

