extends ../../base-layout

mixin append-sort
  +sort-btn()

block head
  title Product page

block header
  +product-header()

block main
  - const productSlides = [{src: '../../../images/mocks/product-page-mock.png', alt: 'iphone image'}, {src: '../../../images/mocks/product-page-mock.png', alt: 'iphone image'},{src: '../../../images/mocks/product-page-mock.png', alt: 'iphone image'},{src: '../../../images/mocks/product-page-mock.png', alt: 'iphone image'},{src: '../../../images/mocks/product-page-mock.png', alt: 'iphone image'},{src: '../../../images/mocks/product-page-mock.png', alt: 'iphone image'},{src: '../../../images/mocks/product-page-mock.png', alt: 'iphone image'}];
  +product-section({header: false}).product-section_product-info
    +product-slider({slides: productSlides})
    +product-info({partNumber: '002900006', title: 'Смартфон Apple Iphone 11 128Gb Yellow Смартфон Apple', rate: {
      rating: 4,
      reviewsAmount: 17,
    }})
  +product-section({header: false}).product-section_product-cost
    +product-cost({from: 'от', price: 357890, loanType: 'credit', loan: 'В кредит', monthlyPayment: 13375, months: 36})
  +product-section({header: false}).product-section_modifiers
    +product-memory-modifiers({memories: [{amount: 64}, {amount: 128, selected: true}, {amount: 256},{amount: 512}]})
    +product-color-modifiers({colors: [{bgColor: "background-color:#FEECC7"}, {bgColor: "background-color: #FD2D39", selected: true},{bgColor: "background-color: #11BCD3"}]})
  +product-section({header: {title: 'Продавцы', append: "append-sort"}})
    +payment({months: [{value: 3, id: 1}, {value: 12, id: 2},{value: 24, id: 3},{value: 36, id: 6}, {value: 48, id: 4},{value: 60, id: 5}]})
    +sellers-list({sellers: [{title: 'Evrica', sellerRate: 3, sellerReviewsAmount: 17, delivery: {price: 'Бесплатно', from: 1, to: 2, selfCall: false}, cost: {
      price: 667890, monthlyPayment: 226630, months: 3, loan: 'В рассрочку'
    }}, {title: 'Alser', sellerRate: 2, sellerReviewsAmount: 17, delivery: {price: 'Бесплатно', from: 1, to: 2, selfCall: false}, cost: {
      price: 4667890, monthlyPayment: 1222630, months: 3, loan: 'В рассрочку'
    }}, {title: 'Sulpak', sellerRate: 4.6, sellerReviewsAmount: 17, delivery: {price: 'Бесплатно', from: 1, to: 2, selfCall: false}, cost: {
      price: 4667890, monthlyPayment: 1222630, months: 3, loan: 'В рассрочку'
    }}]})
  +product-section({header: {title: 'Отзывы о товаре'}}).product-section_reviews.pt-29
    +reviews-statistic({reviews: [{value: 5, amount: 30}, {value: 1, amount: 8}, {value: 2, amount: 10}, {value: 3, amount: 25}, {value: 4, amount: 14}]})
    +reviews-list({reviews: [{userName: 'Юлия Х.', reviewRate: 4, date: '8 ноября, 2020 г.', reviewText: 'Брала дочке на ДР 1,5 месяца назад, все работает, с iOs есть коннект, а так же с ноутбуком на Windows. все работает, с iOs есть коннект, а такработает, с iOs есть коннект, а так работает, Брала дочке на ДР 1,5 месяца назад, все работает, с iOs есть коннект, а так же с ноутбуком на Windows. все работает, с iOs есть коннект, а такработает, с iOs есть коннект, а так работает, Брала дочке на ДР 1,5 месяца назад, все работает, с iOs есть коннект, а так же с ноутбуком на Windows. все работает, с iOs есть коннект, а такработает, с iOs есть коннект, а так работает'}, {userName: 'Юлия Х.', reviewRate: 4, date: '8 ноября, 2020 г.', reviewText: 'Брала дочке на ДР 1,5 месяца назад, все работает, с iOs есть коннект, а так же с ноутбуком на Windows. все работает, с iOs есть коннект, а такработает, с iOs есть коннект, а так работает... Читать полный отзыв'},{userName: 'Юлия Х.', reviewRate: 4, date: '8 ноября, 2020 г.', reviewText: 'Брала дочке на ДР 1,5 месяца назад, все работает, с iOs есть коннект, а так же с ноутбуком на Windows. все работает, с iOs есть коннект, а такработает, с iOs есть коннект, а так работает... Читать полный отзыв'},{userName: 'Юлия Х.', reviewRate: 4, date: '8 ноября, 2020 г.', reviewText: 'Брала дочке на ДР 1,5 месяца назад, все работает, с iOs есть коннект, а так же с ноутбуком на Windows. все работает, с iOs есть коннект, а такработает, с iOs есть коннект, а так работает... Читать полный отзыв'}]})
    +btn({text: 'Читать все отзывы (25)'}).all-btn_huge.py-12
  +product-section({header: {title: 'Характеристики товара'}}).product-section_specifications
    +product-specifications({general: {title: 'Общие', specs: [{header: 'Тип:', value: 'Моноблок (Классический)'}, {header: 'Серия:', value: 'Apple Iphone 11'}, {header: 'Стандарт:', value: 'GSM 850/900/1800/1900, 3G, 4G LTE', multipleLine: true}, {header: 'Операционная система:', value: 'IOS 13'}, {header: 'Тип SIM-карты:', value: 'nano SIM + esim'}]}, display: {title: 'Дисплей', specs: [{header: 'Тип экрана:', value: 'Цветной IPS, сенсорный'}, {header: 'Тип сэнсорного экрана:', value: 'Мультитач, ёмкостный'}, {header: 'Диагональ:', value: '6.1 дюйм'}, {header: 'Сила нажатия на экран:', value: 'Есть'}, {header: 'Основные (тыловые) камеры:', value: 'сверхширокоугольная 12 МП 2x F/2.40, широкоугольная 12 МП F/1.80', multipleLine: true}]}})
  +product-section({header: {title: 'Описание товара'}}).product-section_description.border-none
    +product-description({text: 'Redmi Note 9 оснащён высокопроизводительным 8-ядерным процессором с максимальной частотой до 2,0 ГГц и графическим ускорителем с частотой 1000 МГц, которые обеспечивают улучшенную производительность устройства. Выдающаяся система камер.'})

block footer
  +navigation()
