- const brands = [{img: '../../../../images/logotypes/philips.svg', alt: "philips logo"}, {img: '../../../../images/logotypes/sony.svg', alt: "philips logo"},{img: '../../../../images/logotypes/xiaomi.svg', alt: "philips logo"},{img: '../../../../images/logotypes/apple.svg', alt: "philips logo"},{img: '../../../../images/logotypes/samsung-logo.svg', alt: "philips logo"},{img: '../../../../images/logotypes/michelin.svg', alt: "philips logo"},{img: '../../../../images/logotypes/bosch.svg', alt: "philips logo"},{img: '../../../../images/logotypes/adidas.svg', alt: "philips logo"},{img: '../../../../images/logotypes/huawei.svg', alt: "philips logo"},{img: '../../../../images/logotypes/pandora.svg', alt: "philips logo"},{img: '../../../../images/logotypes/dyson.svg', alt: "philips logo"},{img: '../../../../images/logotypes/nike.svg', alt: "philips logo"}]
include ../../../_mixins

+section({title: "Популярные бренды"}).px-20
  +brand-grid
    each brand in brands
      +brand(brand)
