.all-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background-color: $color-brand-primary-10;
  @include font(1.4rem, 2rem, $color-brand-primary-50, 700);
  width: 46px;
  padding: 4px 0;
}
