.sellers-list {
  @extend %reset-lists;

  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.seller-card {
  border-radius: 8px;
  background-color: $color-grey-90;

  &__header,
  &__body {
    border-bottom: 1px solid $color-grey-80;
  }

  &__header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__seller {
    display: flex;
    flex-direction: column;
    gap: 4px 0;
  }

  &__title {
    @include font(1.6rem, 2rem, $color-dark-xl, 700);
  }

  &__body-content {
    display: flex;
    flex-direction: column;
    gap: 4px 0;
  }

  &__delivery,
  &__self-call {
    @include font(1.2rem, 1.6rem, $color-extra-dark, 500);
  }
}
