include ../rate/mixin
include ../select-btn/mixin
include ../product-cost/mixin

-
  var offerData = {
    0: {
      type: 'FULL_PRICE',
      discountPrice: '235 000 ₸',
      delivery: {
        date: '1-2 дня',
        price: 'Бесплатно',
      },
    },
    3: {
      loanPrice: '259 083 ₸',
      month: 'x 3 мес.',
      label: 'В рассрочку',
      type: 'LOAN',
      discountPrice: '230 000 ₸',
      delivery: {
        date: '1-2 дня',
        price: 'Бесплатно',
      },
    },
    12: {
      loanPrice: '50 000 ₸',
      month: 'x 12 мес.',
      label: 'В рассрочку',
      type: 'LOAN',
      discountPrice: '230 000 ₸',
      delivery: null,
    },
    24: {
      loanPrice: '25 500 ₸',
      month: 'x 24 мес.',
      label: 'В кредит',
      type: 'CREDIT',
      discountPrice: '230 000 ₸',
      delivery: {
        date: 'сегодня',
        price: '500 ₸',
      },
    },
    36: {
      loanPrice: '35 560 ₸',
      month: 'x 36 мес.',
      label: 'В кредит',
      type: 'CREDIT',
      discountPrice: null,
      delivery: null,
    },
  }
  var offerDataTwo = {
    0: {
      type: 'FULL_PRICE',
      discountPrice: '300000 ₸',
      discountPrice: null,
      delivery: null,
    },
    3: {
      loanPrice: '275 000 ₸',
      month: 'x 3 мес.',
      label: 'В рассрочку',
      type: 'LOAN',
      discountPrice: '230 000 ₸',
      delivery: {
        date: 'завтра',
        price: '1500 ₸',
      },
    },
    24: {
      loanPrice: '30 500 ₸',
      month: 'x 24 мес.',
      label: 'В кредит',
      type: 'CREDIT',
      discountPrice: null,
      delivery: null,
    },
    36: {
      loanPrice: '45 560 ₸',
      month: 'x 36 мес.',
      label: 'В кредит',
      type: 'CREDIT',
      discountPrice: null,
      delivery: null,
    }
  }

mixin seller-card(props)
  .seller-card&attributes(attributes)
    .seller-card__header
      .seller-card__header-content
        .seller-card__seller
          h6.seller-card__title #{props.title}
          - const sellerRate = props.sellerRate
          - const sellerReviewsAmount = props.sellerReviewsAmount
          +rate({size: 'sm', rate: sellerRate, reviewsAmount: sellerReviewsAmount})
        +select-btn()
    .seller-card__body
      .seller-card__body-content
        span.seller-card__delivery.js-productDelivery Доставка - #{props.delivery.price}, #{props.delivery.from}-#{props.delivery.to} дня
        if (props.delivery.selfCall)
          span.seller-card__self-call Доступен самовызов
        else
          span.seller-card__self-call Самовызов отсутствует
    .seller-card__footer
      .seller-card__footer-content
        +product-cost(props.cost)



mixin sellers-list(props)
  ul.sellers-list
    each seller, i in props.sellers
      li.sellers-list__item
        +seller-card(seller)(data-offers= i % 2 ? offerData : offerDataTwo).js-productSellersItem