.reviews-list {
  @extend %reset-lists;
  display: flex;
  overflow-x: scroll;
  @extend %hide-scroll;
  margin: 0 -20px;

  &__item {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.review-card {
  width: 276px;
  border: 1px solid $color-grey-80;
  border-radius: 8px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__user-name {
    @include font(1.4rem, 2rem, $color-extra-dark, 700);
  }

  &__date {
    @include font(1.2rem, 1.6rem, $color-grey-60, 500);
  }

  &__text-box {
    margin-top: 8px;
    max-height: 120px;
    position: relative;
    overflow-y: hidden;
  }

  &__full-text-box {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $color-extra-light;

    &::before {
      content: '...';
      @include font(1.4rem, 2rem, $color-extra-dark, 500);
    }
  }

  &__full-text-btn {
    @extend %reset-btn;
    padding: 0 4px;
    @include font(1.4rem, 2rem, $color-brand-primary-50, 500);
  }

  &__review-text {
    margin: 0;
    @include font(1.4rem, 2rem, $color-extra-dark, 500);
  }
}
