include ../star-list/mixin

mixin review-card(props)
  .review-card.p-12
    .review-card__header
      h6.review-card__user-name.m-0.mb-4  #{props.userName}
      - const reviewRate = props.reviewRate;
      +star-list({size: 'lg', rate: reviewRate})
    span.review-card__date #{props.date}
    .review-card__text-box
      p.review-card__review-text.js-feedbackSourceText #{props.reviewText}
      .review-card__full-text-box
        button.review-card__full-text-btn.js-feedbackOpenFullText Читать полный отзыв

mixin reviews-list(props)
  ul.reviews-list.js-feedbackList.py-29.pb-24.px-20
    each review in props.reviews
      li.reviews-list__item
        +review-card(review)
