.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: inline-block;
  width: 153px;
  height: 30px;
  background: url('../../assets/icons/globerce-logo.svg') center no-repeat;
}
