mixin category-card(props)
  a(href="#").category-card
    if props.lightText
      h4(class="category-card__text_light").category-card__text !{props.text}
    else
      h4.category-card__text !{props.text}
    img(src=props.img).category-card__img

mixin category-grid(props)
  ul.category-card-grid
    each category in props.categories
      li.category-card__item
        +category-card(category)