.rate {
  $this: &;

  display: flex;
  gap: 0 5px;

  &_sm {
    #{$this}__reviews-amount {
      @include font(1rem, 1.2rem, $color-grey-20, 500);
    }
  }

  &_lg {
    #{$this}__reviews-amount {
      @include font(1.2rem, 1.6rem, $color-grey-20, 500);
    }
  }
}
