include ../star-list/mixin

mixin rate(props)
  - const size = props.size === 'sm' ? 'rate_sm' : 'rate_lg';
  - const rate = props.rate;
  div(class=size)&attributes(attributes).rate
    +star-list({size: 'sm', rate: rate})
    span.rate__reviews-amount #{props.reviewsAmount} отзывов