.sort-btn {
  @extend %reset-btn;
  display: inline-flex;
  align-items: center;
  background-color: $color-grey-90;
  border: none;
  border-radius: 4px;
  @include font(1.2rem, 1.6rem, $color-extra-dark, 500);
}
