include ../icon/mixin

mixin product-header()
  header.product-header
    button.product-header__button
      +icon({src: '../../images/icons/chevron-left.svg'})
    button.product-header__button
      +icon({src: '../../images/icons/favorite.svg'})
