.brands__logo {
  width: 100px;
  height: 40px;
}
.brands__logo_philips {
  background: url('images/logotypes/philips.svg') center no-repeat;
}
.brands__logo_sony {
  background: url('images/logotypes/sony.svg') center no-repeat;
}
.brands__logo_xiaomi {
  background: url('images/logotypes/xiaomi.svg') center no-repeat;
}
.brands__logo_apple {
  background: url('images/logotypes/apple.svg') center no-repeat;
}
.brands__logo_samsung {
  background: url('images/logotypes/samsung-logo.svg') center no-repeat;
}
.brands__logo_michelin {
  background: url('images/logotypes/michelin.svg') center no-repeat;
}
.brands__logo_bosch {
  background: url('images/logotypes/bosch.svg') center no-repeat;
}
.brands__logo_adidas {
  background: url('images/logotypes/adidas.svg') center no-repeat;
}
.brands__logo_huawei {
  background: url('images/logotypes/huawei.svg') center no-repeat;
}
.brands__logo_pandora {
  background: url('images/logotypes/pandora.svg') center no-repeat;
}
.brands__logo_dyson {
  background: url('images/logotypes/dyson.svg') center no-repeat;
}
.brands__logo_nike {
  background: url('images/logotypes/nike.svg') center no-repeat;
}
