.indicators {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.indicators-list {
  @extend %reset-lists;
  display: flex;
  gap: 0 8px;
  align-items: center;
  li {
    display: inline-flex;
    align-items: center;
  }
}

.indicators-list__item {
  display: inline-block;
  @include set-size(8px, 8px);
  border-radius: 50%;
  background-color: $color-medium-gray;
}

.indicators-list__item_extra-small {
  @include set-size(4px, 4px);
}

.indicators-list__item_small {
  @include set-size(6px, 6px);
}

.indicators-list__item_active {
  background-color: $color-brand-primary-50;
}
