.logo {
  display: grid;
  position: relative;
  padding: 5px 0;
  grid-template-columns: 85% 15%;
  align-items: center;
}

.logo__icon {
  display: inline-block;
  width: 125px;
  height: 30px;
  background-image: url('images/icons/globerce-logo.svg');
  justify-self: center;
}
