extends ../base-layout

block head
  title Search page

block header
  +search({ append: "append",
            inputClass: "js-search__input search__input",
            clearBtnClass: "search__clear",
            cancelBtnClass: "search__cancel"}).js-search.js-open-search-modal-handler

block main
   - const productsCards = [{img: '../../../../images/mocks/samsung-large.jpg', tags: {installments: '0-0-24'}, title: 'Смартфон Samsung S20 Ultra 16/512Gb черный', prices: {old: "142990 ₸", new: "139990 ₸"}, size: 'lg', loan: {monthlyPayment: 4888, months: 36}},  {img: '../../../../images/mocks/samsung-large.jpg', tags: {installments: '0-0-24'}, title: 'Смартфон Samsung S20 Ultra 16/512Gb черный', prices: {old: "142990 ₸", new: "139990 ₸"}, size: 'lg', loan: {monthlyPayment: 4888, months: 36}}, {img: '../../../../images/mocks/samsung-large.jpg', tags: {installments: '0-0-24'}, title: 'Смартфон Samsung S20 Ultra 16/512Gb черный', prices: {old: "142990 ₸", new: "139990 ₸"}, size: 'lg', loan: {monthlyPayment: 4888, months: 36}},{img: '../../../../images/mocks/samsung-large.jpg', tags: {installments: '0-0-24'}, title: 'Смартфон Samsung S20 Ultra 16/512Gb черный', prices: {old: "142990 ₸", new: "139990 ₸"}, size: 'lg', loan: {monthlyPayment: 4888, months: 36}},{img: '../../../../images/mocks/samsung-large.jpg', tags: {installments: '0-0-24'}, title: 'Смартфон Samsung S20 Ultra 16/512Gb черный', prices: {old: "142990 ₸", new: "139990 ₸"}, size: 'lg', loan: {monthlyPayment: 4888, months: 36}},{img: '../../../../images/mocks/samsung-large.jpg', tags: {installments: '0-0-24'}, title: 'Смартфон Samsung S20 Ultra 16/512Gb черный', prices: {old: "142990 ₸", new: "139990 ₸"}, size: 'lg', loan: {monthlyPayment: 4888, months: 36}},{img: '../../../../images/mocks/samsung-large.jpg', tags: {installments: '0-0-24'}, title: 'Смартфон Samsung S20 Ultra 16/512Gb черный', prices: {old: "142990 ₸", new: "139990 ₸"}, size: 'lg', loan: {monthlyPayment: 4888, months: 36}},{img: '../../../../images/mocks/samsung-large.jpg', tags: {installments: '0-0-24'}, title: 'Смартфон Samsung S20 Ultra 16/512Gb черный', prices: {old: "142990 ₸", new: "139990 ₸"}, size: 'lg', loan: {monthlyPayment: 4888, months: 36}}]
      +search-modal-window({results: []}).d-none
      .py-16
        +section({title: 'Найдено 145 товаров'}).px-20.section-search
         .section-search__container
           each product in productsCards
             +product-card(product)

block footer
  footer.footer
    +navigation()