.navigation-list {
  @extend %reset-lists;
  display: flex;
  width: 100%;
}

.navigation-list__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20%;

  &_notifed {
    .navigation-link::after {
      content: '';
      display: inline-block;
      @include set-size(8px, 8px);
      background-color: $color-brand-primary-50;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.navigation-link {
  position: relative;
  text-decoration: none;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 4px 0;

  &__text {
    @include font(1rem, 1.2rem, $color-grey-40, 700);
  }
}
