main.main
  include ../../../_mixins
  +banners-wrapper({
    img: '../../../images/backgrounds/globerce-banner.png',
    alt: 'globerce banner',
    amount: 7
  })
  .section-wrapper
    include sections/_categories
    include sections/_recently-watch
    include sections/_halyk-stocks
    include sections/_brands
    include sections/_products-8-section
    include sections/_products-4-section


