.category-card-grid {
  position: relative;
  @extend %reset-lists;
  @extend %hide-scroll;
  overflow: scroll;
  display: grid;
  gap: 8px 8px;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 20px;
}
