include ../_mixins
doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    block head

  body.base_layout.pb-70.js-base__layout
    .base-layout__header.js-base-layout__header
      block header

    main.base-layout__main
      block main

    .base-layout__footer
      block footer