.banner
    .banner-content
      h3.banner-content__header бонусы 30% от halyk market
      p.banner-content__info Еще информации о акции, например: дата в формате.
      button.banner-content__button Кнопка
    img(src="../../images/backgrounds/banner-image.jpg", alt="баннер акции").banner__image