.category-item.category-item_promo
  h3.category-item__header Акции Halyk Market
  img(src="../../images/categories/percent.svg", alt="Иконка процента").category-item__img
.category-item.category-item_phones
  h3.category-item__header Телефоны и гаджеты
  img(src="../../images/categories/phone.png", alt="фото телефона").category-item__img
.category-item.category-item_shoes
  h3.category-item__header Обувь
  img(src="../../images/categories/shoes.png", alt="фото обуви").category-item__img
.category-item.category-item_tv
  h3.category-item__header Телевизоры и аудиотехника
.category-item.category-item_auto-stuff
  h3.category-item__header Автотовары
  img(src="../../images/categories/tires.png", alt="фото колеса").category-item__img
.category-item.category-item_laptops
  h3.category-item__header Ноутбуки и компьютеры
  img(src="../../images/categories/laptop.png", alt="фото ноутбука").category-item__img
.category-item.category-item_beauty
  h3.category-item__header Красота и здоровье
  img(src="../../images/categories/hairdryer.png", alt="фото фена").category-item__img
.category-item.category-item_kitchenware
  h3.category-item__header Кухонная техника
