.product
  span.product__installment 0-0-24
  span.product__discount скидка
  span.product__favorites
  img(src="#", alt="product photo")
  h3.product__title Смартфон Samsung Galaxy Note 10
  .reviews
    ul.reviews-list
      - for(var i = 3; i < 3; i++)
        li.reviews__rating
    span.reviews__amount 35 отзывов
  .prices
    span.prices__price.prices__price_new 139990 ₸
    span.prices__price.prices__price_old 142990 ₸