.product
  .options
    span.product__installment 0-0-24
    span.product__discount скидка
  .button.product__favorite-btn
    span.product__favorites
  img(src="../../images/mocks/samsung-photo.png", alt="product photo")
  .product-info
    h3.product__title Смартфон Samsung Galaxy Note 10
    .reviews
      ul.reviews-list
        li.reviews__rating
        li.reviews__rating
        li.reviews__rating
        li.reviews__rating
        li.reviews__rating
      span.reviews__amount 35 отзывов
    .prices
      span.prices__price.prices__price_new 139990 ₸
      span.prices__price.prices__price_old 142990 ₸