section.section_has_header.categories
    .flex-first-row
      h2.section-header Категории
      include ../../../../components/all-button/_index
    .flex-second-row
      .categories-wrapper
        include ../elements/_category-items


