include _base
+section({class: 'section_has_header categories'})
  block section
    +section-header({title: 'Категории', btn: true})
    .flex-second-row
      +category-grid()
        each item in items
          +category-card(item)




