section.section.section_has_header.halyk-stocks
    .flex-first-row
      h2.section-header Акции Halyk Market
      include ../../../../components/all-button/_index
    .flex-second-row_banners
      .banners
        .banners-wrapper
          - for(var i = 0; i < 7; i++)
            .banner_without-content.banner
      include ../elements/_indicators
