include _base
+section({class: 'section_has_header promo'})
  block section
    .flex-first-row
      h2.section-header Акции
      include ../../../../components/all-button/_index
    .flex-second-row_banners
      +banners-wrapper({
        img: '../../../../images/mocks/stocks.png',
        alt: 'promo banner',
        amount: 7
      })


