section.section.section_has_header.recently-watch
    .flex-first-row
      h2.section-header Вы недавно смотрели
      include ../../../../components/all-button/_index
    .flex-second-row
      .recently-watch-wrapper
        - for(var x = 0; x < 5; x++)
          include ../../../../components/product-card/_index