.product-section {
  border-bottom: 1px solid $color-grey-80;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    @include font(1.8rem, 2.6rem, $color-extra-dark, 700);
  }

  &_modifiers {
    display: flex;
    flex-direction: column;
    gap: 12px 0;
  }
}
