mixin product-section(props)
  section&attributes(attributes).product-section.px-20.py-20
    if (props.header)
      header.product-section__header
        h5.product-section__title #{props.title}
        if (props.header.append)
          +#{props.header.append}
    .product-section__body
      block