include ../sort-btn/mixin

mixin product-section(props)
  section.product-section.px-20.py-20&attributes(attributes)
    if (props.header)
      header.product-section__header
        h5.product-section__title.m-0 #{props.header.title}
        if (props.header.append)
          +#{props.header.append}
    .product-section__body&attributes(attributes)
      block