.header {
  margin-bottom: 12px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
}

.hiddenLogo {
  top: -48px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scrollSearchContainer {
  padding-right: 15px;
}
