.product-loan {
  $this: &;

  &_sm {
    padding: 1px 8px;
    #{$this}__monthly-payment {
      @include font(1.2rem, 1.6rem, $color-dark-xl, 700);
    }
    #{$this}__months {
      @include font(1rem, 1.2rem, $color-dark-xl, 500);
    }
  }

  &_lg {
    padding: 2px 7px;
    #{$this}__monthly-payment {
      @include font(1.4rem, 2rem, $color-dark-xl, 700);
    }
    #{$this}__months {
      @include font(1.2rem, 1.6rem, $color-dark-xl, 500);
    }
  }

  &_st {
    background-color: $color-brand-secondary;
  }

  &_gold {
    #{$this}__monthly-payment {
      color: $color-extra-light;
    }
    #{$this}__months {
      color: $color-extra-light;
    }
    background-color: $color-brand-secondary-50;
  }

  @include flex(center, center, row);
  gap: 4px;
  border-radius: 4px;
}
