mixin product-loan(props)
  - const size = props.size === 'sm' ? 'product-loan_sm' : 'product-loan_lg'
  - const type = props.type === 'credit' ? 'product-loan_credit' : 'product-loan_loan';
  - const classEl = size + ' ' + type;
  div(class=classEl).product-loan
    - let monthlyPayment = props.monthlyPayment.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    span.product-loan__monthly-payment.js-loanMonthlyPayment #{monthlyPayment} ₸
    span.product-loan__months.js-loanMonths x #{props.months} мес