$color-light-gray: #f6f7f8;
$color-medium-gray: #d3d7de;
$color-primary-yellow: #ffd95d;
$color-extra-light: #fff;
$color-dark: #323232;
$color-brand-primary-50: #2aa65c;
$color-brand-primary-10: #eaf6ef;
$color-extra-dark: #000000;
$color-peach: #fff0df;
$color-light-blue: #dff0ff;
$color-magnolia: #fedfff;
$color-dark-grey: #d5d5d5;
$color-honeydew: #edffdf;
$color-light-purple: #e2e1ff;
