$color-light-gray: #f6f7f8;
$color-grey-20: #4c5566;
$color-grey-10: #262f40;
$color-grey-40: #626d84;
$color-grey-60: #9ba4b5;
$color-grey-70: #d3d7de;
$color-grey-80: #e2e4e9;
$color-grey-90: #f6f7f8;
$color-medium-gray: #d3d7de;
$color-primary-yellow: #ffd95d;
$color-reviews: #fcb016;
$color-extra-light: #fff;
$color-dark: #323232;
$color-dark-10: #262f40;
$color-dark-70: #4a4e5a;
$color-dark-xl: #071222;
$color-brand-primary-50: #27b1e7;
$color-brand-secondary-50: #fcb016;
$color-primary-green: #2aa65c;
$color-brand-primary-10: rgba(39, 177, 231, 0.2);
$color-extra-dark: #000000;
$color-semantic-error: #ff0000;
$color-brand-secondary: #feecc7;
