.cross {
  display: inline-flex;
  width: 36px;
  height: 36px;
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../../assets/icons/clear.svg') center no-repeat;
}
