include ../search-bar/mixin
include ../bottom-modal/mixin

mixin city(props)
  .cities-modal__city
    .cities-modal__city-container
      label(for=props.id).cities-modal__city-title #{props.city}
      input(type="radio" name="select-city" id=props.id class="cities-modal__radio")


mixin cities-modal()
  +modal({title: 'Мой город'})
    .cities-modal__body
      .cities-modal__search-container
        +search({append: false,
               inputClass: 'js-search__input search__input',
               clearBtnClass: 'js-search__clear search__clear',
               cancelBtnClass: 'js-search__cancel search__cancel',
               searchIconClass: 'js-search__search-icon search__icon',
               idCancelBtn: 'js-search-cancel',}).js-citiesSearch
      ul.cities-modal__list.js-citiesList
