@mixin font($size, $line-height, $color, $weight) {
  font-size: $size;
  line-height: $line-height;
  color: $color;
  font-weight: $weight;
}

@mixin set-size($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex($align-items: stretch, $justify-content: start, $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin header-overflow-dotted($width) {
  text-overflow: ellipsis;
  overflow: hidden;
  width: $width;
  white-space: nowrap;
}
