include mixin
+section({class: 'section_has_header promo'})
  block section
    +section-header({title: 'Акции', btn: true})
    .flex-second-row
      +banners-wrapper({
        img: '../../../../images/mocks/bonus-banner.png',
        alt: 'promo banner',
        amount: 7
      })


