extends ../base-layout

block head
  title mobile page

block header
  +header-logo-with-search()

block main
  - const results = [{icon: {src: '../../images/icons/clock.svg', alt: 'clock icon'}, title: 'Мышки', type: 'history'}, {icon: {src: '../../images/icons/search.svg', alt: 'search icon'}, title: 'Телефоны', type: 'search'},{icon: {src: '../../images/icons/fair.svg', alt: 'fair icon'}, title: 'Смартфоны apple', type: 'hot'}, {icon: {src: '../../images/icons/clock.svg', alt: 'clock icon'}, title: 'Мышки', type: 'history'},{icon: {src: '../../images/icons/clock.svg', alt: 'clock icon'}, title: 'Мышки', type: 'history'},{icon: {src: '../../images/icons/clock.svg', alt: 'clock icon'}, title: 'Мышки', type: 'history'},{icon: {src: '../../images/icons/clock.svg', alt: 'clock icon'}, title: 'Мышки', type: 'history'},{icon: {src: '../../images/icons/clock.svg', alt: 'clock icon'}, title: 'Мышки', type: 'history'},{icon: {src: '../../images/icons/clock.svg', alt: 'clock icon'}, title: 'Мышки', type: 'history'},{icon: {src: '../../images/icons/clock.svg', alt: 'clock icon'}, title: 'Мышки', type: 'history'},{icon: {src: '../../images/icons/clock.svg', alt: 'clock icon'}, title: 'Мышки', type: 'history'},{icon: {src: '../../images/icons/clock.svg', alt: 'clock icon'}, title: 'Мышки', type: 'history'},{icon: {src: '../../images/icons/clock.svg', alt: 'clock icon'}, title: 'Мышки', type: 'history'}]
    +search-modal-window({results: results}).d-none
  .py-12.mt-16.js-main-content
    +column.column_gap-32
      .px-20.mt-15
        +banners-wrapper({
           img: '../../images/mocks/bonus-banner.png',
           alt: 'globerce banner',
           amount: 7
         })
      include sections/_categories
      include sections/_recently-watch
      include sections/_halyk-stocks
      include sections/_brands
      include sections/_products-8-section
      include sections/_products-4-section

block footer
  footer.footer
    +navigation()

