mixin location-btn(props)
  if props.hide
    button.location.hide
      span.location__icon
      span.location__city Алматы
  else
    button.location
      span.location__icon
      span.location__city Алматы
