include ./components/all-button/mixin
include ./components/banners/mixin
include ./components/category-card/mixin
include ./components/section-header/mixin
include ./components/product-card/mixin
include ./components/brand/mixin
include ./components/products-stand/mixin
include ./components/header/mixin
include ./components/navigation/mixin
include ./components/aspect-ratio/mixin
include ./components/section/mixin
include ./components/column/mixin
include ./components/search-modal/mixin
include ./components/product-header/mixin
include ./components/product-section/mixin
include ./components/product-slider/mixin
include ./components/plate/mixin
include ./components/product-info/mixin
include ./components/rate/mixin
include ./components/product-loan/mixin
include ./components/product-cost/mixin
include ./components/product-modifiers/mixin
include ./components/sort-btn/mixin
include ./components/payment/mixin