extends _base
block head
  title Index page
block body
  ol.index-list
    li.index-list__item
      a(href="./pages/mobile-page/index.html" class="index-list__link") Mobile page
    li.index-list__item
      a(href="./pages/search-page/index.html" class="index-list__link") Search page
    li.index-list__item
      a(href="./pages/product-page/phones/index.html" class="index-list__link") Product page




