mixin locationBtn(props)
  if props.hide
    button(id=props.id).location-btn.js-location-btn_hide
      span.location-btn__icon
      span.location-btn__city #{props.city}
  else
    button(id=props.id).location-btn
      span.location-btn__icon
      span.location-btn__city #{props.city}