.indicators
  ul.indicators-list
    li
      a(href="#").indicators-list__item.indicators-list__item_extra-small
    li
      a(href="#").indicators-list__item.indicators-list__item_small
    li
      a(href="#").indicators-list__item.indicators-list__item_active
    li
      a(href="#").indicators-list__item
    li
      a(href="#").indicators-list__item
    li
      a(href="#").indicators-list__item.indicators-list__item_small
    li
      a(href="#").indicators-list__item.indicators-list__item_extra-small