include ../aspect-ratio/mixin

mixin banner(props)
  a.swiper-slide(href="#")
    +aspect-ratio().aspect-ratio_banner.image-slider__image-box
      img(src=props.img, alt=props.alt).image-slider__image