include banner
mixin banners-wrapper(props)
  .banner-slider.swiper-container
    .image-slider__wrapper.swiper-wrapper
      - for(let i = 0; i < props.amount; i++)
          +banner({img: props.img, alt: props.alt})
    .swiper-pagination