mixin payment(props)
  .payment.py-16
    .payment__type
      select.payment__select
        option(value="card") Оплата картой
        option(value="cash") Оплата наличными
    .payment__loan.py-8
      .payment__title-box.px-16.pb-8
        span.payment__title-loan Рассрочка / кредит
        span.payment__title-available-months доступные сроки (месяцы)
      .payment__loan-box.pt-8
        ul.payment__loan-list.px-16
          each month in props.months
            li.payment__loan-item
              input(type="radio" id=month.id name="months").payment__loan-input
              label(for=month.id).payment__loan-months #{month.value}
