.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 48px;
}

.img {
  position: absolute;
}

.productsContainer {
  position: relative;
  margin-top: 105px;
  display: flex;
  justify-content: center;
}
